@CHARSET "ISO-8859-1";

.wholebody::after {
	content: "";
	clear: both;
	display: block;
}

.wholebody {
	text-align: center;
	padding-bottom: 20px;
}

.viewaccount {
	text-align: center;
	float: center;
	margin: 0 auto;
	left: 0;
	right: 0;
}

.billingadd{
	border-style: solid;
	width: 300px;
	float: left;
	margin-left: 8%;
	background-color: #d6d6b1;
}

.details{
	border-style:solid;
	width: 300px;
	margin: 0 auto;
	left: 0;
	background-color: #d6d6b1;
}

.editing{
	border-style: solid;
	width: 300px;
	float: right;
	margin-right: 8%;
	background-color: #d6d6b1;
}