@CHARSET "ISO-8859-1";

html{
	background-color: #ffffff;
}

body{

	background-color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

.extras  h1, h2, h3{
	color: #143516;
}