@CHARSET "ISO-8859-1";

html {
	background-color: #ffffff;
}

body{
	font-family: Arial, Helvetica, sans-serif;
}

#heading{
	background-color: #143516;
}
#logohead{
	width: 10%;
	position: relative;
	display: inline-block;
}
#searchbar{
	position: relative;
	display: inline-block;
	width: 50%;
	margin-left: 10%;
}
#cart{
	float: left;
	width: 10%;
	margin-left:10%;
}
.extralinks{
	float: right;
	width: 10%;
}
ul.extralinks {
	list-style-type: none;
	border-width: 1px 0; list-style : none; margin : 0; padding : 0;
	text-align : center;
	overflow: hidden;
	background-color: #143516;
}

ul.extralinks li {
	display: inline-block;
}

ul.extralinks li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
}
ul.navbar {
	list-style-type: none;
	border-width: 1px 0;
	list-style : none;
	margin : 0;
	padding : 0;
	text-align : center;
	overflow: hidden;
	background-color: #143516;
}

ul.navbar li {
	display: inline-block;
	border: solid;
}

ul.navbar li a {
	display: block;
	background-color: #ffffff;
	color: #000000;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

ul.navbar li a:hover {
	background-color: #62c945;
}

#wholebody{
	text-align: center;
}

#leftpic{
	float: left;
	margin-left: 10%;
}
#loginform{
	border: solid;
	width: 25%;
	float: left;
	margin-left:15%;
}
#rightpic{
	float: right;
	margin-right:10%;
}

#footing{
	background-color: #143516;
	width: 100%;
	bottom:0;
	position: fixed;
	clear:both;
}

#logofoot{
	width: 10%;
	position: relative;
	display: inline-block;
}
ul.footernav {
	float: right;
	width: 20%;
	list-style-type: none;
	border-width: 1px 0; list-style : none; margin : 0; padding : 0;
	text-align : center;
	overflow: hidden;
	background-color: #143516;
}

ul.footernav li {
	display: inline-block;
}

ul.footernav li a {
	display: block;
	text-align: center;
	padding: 14px 16px;
}
