@CHARSET "ISO-8859-1";

body{
	font-family: Geneva, Verdana, sans-serif;
	}

ul{
	list-style: none;
}

#maincontent{
	display: inline-block;
    position: relative;
	
}

#tag_bar{
	display: inline-block;
	border-style: solid;
	width: 40%;
}

#grid_view{
	border-style: dotted;
	float: right;
}

#sorter{
	float: right;
}

#featured_products_list{
	float: right;
}

