@CHARSET "ISO-8859-1";

* {
	box-sizing: border-box;
}

.wholebody::after {
	content: "";
	clear: both;
	display: block;
}

.wholebody {
	text-align: center;
	padding-bottom: 20px;
}

.viewaccount {
	text-align: center;
}

.billingadd {
	border-style: solid;
	width: 300px;
	background-color: #d6d6b1;
	border-bottom-width: thin;
	margin:auto;
}

.details {
	border-style: solid;
	width: 300px;
	background-color: #d6d6b1;
	border-top-width: thin;
	border-bottom-width: thin;
	margin:auto;
}

.editing {
	border-style: solid;
	width: 300px;
	background-color: #d6d6b1;
	border-top-width: thin;
	margin:auto;
}

[class*="col-"] {
    width: 100%;
}

.leftpic {
	margin:10px auto 0;
}

.loginform {
	border: solid;
	background-color: #d6d6b1;
	width: 275px;
	margin:10px auto 0;
	height: 470px;
}

.rightpic {
	margin:10px auto 0;
}

.signupform {
	text-align: center;
}

.signupdetails {
	border-style: solid;
	border-bottom-width: thin;
	background-color: #d6d6b1;
	margin:auto;
	width: 300px;
	padding-bottom: 20px;
}

.signupaddress {
	border-style: solid;
	border-top-width: thin;
	background-color: #d6d6b1;
	width: 300px;
	margin:auto;
}

.orderdetails{
	border-style: solid;
	border-bottom-width: thin;
	background-color: #d6d6b1;
	margin:auto;
	width: 300px;
	padding-bottom: 20px;
}
.orderproducts{
	border-style: solid;
	border-bottom-width: thin;
	border-top-width: thin;
	background-color: #d6d6b1;
	margin:auto;
	width: 300px;
	padding-bottom: 20px;
}
.orderaddress{
	border-style: solid;
	border-top-width: thin;
	background-color: #d6d6b1;
	width: 300px;
	margin:auto;
}
.billingaddress {
	border-style: solid;
	border-width: thin;
	width: 300px;
	background-color: #d6d6b1;
	margin:auto;
}
.address {
	border-style: solid;
	width: 300px;
	background-color: #d6d6b1;
	margin:auto;
	border-width: thin;
}
.changedetails{
	border-style: solid;
	background-color: #d6d6b1;
	margin:auto;
	width: 400px;
	padding-bottom: 20px;
}
.newaddress{
	border-style: solid;
	background-color: #d6d6b1;
	margin:auto;
	width: 300px;
	padding-bottom: 20px;
}
.passwordform{
	border-style: solid;
	background-color: #d6d6b1;
	margin:auto;
	width: 300px;
	padding-bottom: 20px;
}
.resizingbill{
	padding-bottom:20px;
}
.resizingaddress{
	padding-bottom:20px;
}
@media only screen and (min-width: 768px) {
	.wholebody {
		text-align: center;
	}
	.col-1 {width: 8.33%;}
	.col-2 {width: 16.66%;}
	.col-3 {width: 25%;}
	.col-4 {width: 33.33%;}
	.col-5 {width: 41.66%;}
	.col-6 {width: 50%;}
	.col-7 {width: 58.33%;}
	.col-8 {width: 66.66%;}
	.col-9 {width: 75%;}
	.col-10 {width: 83.33%;}
	.col-11 {width: 91.66%;}
	.col-12 {width: 100%;}

	.billingadd {
		border-style: solid;
		width: 70%;
		background-color: #d6d6b1;
		border-bottom-width: medium;
		margin:auto;
	}

	.details {
		border-style: solid;
		width: 70%;
		background-color: #d6d6b1;
		border-top-width: medium;
		border-bottom-width: medium;
		margin:auto;
	}

	.editing {
		border-style: solid;
		width: 70%;
		background-color: #d6d6b1;
		border-top-width: medium;
		margin:auto;
	}
	
	.signupform {
		width: auto;
		border: none;
		background-color: #ffffff;
	}
	.signupdetails {
		border: solid;
	}
	.signupaddresstext{
		margin-top: 26px;
	}
	.signupaddress {
		border: solid;
		height: 545px;
	}
	.orderdetails{
		border-style: solid;
		border-width: medium;
		margin:auto;
		margin-right: 10px;
		padding-bottom: 20px;
		height: 300px;
	}
	.orderproducts{
		margin:auto;
		width: 100%;
		padding-bottom: 20px;
		border-style: solid;
		border-width: medium;
		overflow-y: auto;
		height: 300px;
	}
	.orderaddress{
		margin-left: 10px;
		border-style: solid;
		border-width: medium;
		height: 300px;
	}
	.resizingorders{
		padding-bottom:20px;
	}
	.address{
		width: 70%;
	}
	.billingaddress{
		width: 70%;
	}
	.resizingbill{
		padding-bottom:15px;
	}
	.resizingaddress{
		padding-bottom:51px;
	}
}