@CHARSET "ISO-8859-1";

* {
	box-sizing: border-box;
}

[class*="col-"] {
	float: left;
}

/* For mobile phones: */
[class*="col-"] {
	width: 100%;
}

.wholebody::after {
	content: "";
	clear: both;
	display: block;
}

.wholebody {
	text-align: center;
	padding-bottom: 20px;
}

.tagbar {
	display: inline-block;
}

.viewaccount {
	text-align: center;
}

.billingadd {
	border-style: solid;
	width: 300px;
	background-color: #d6d6b1;
	border-bottom-width: thin;
	margin: auto;
}

.details {
	border-style: solid;
	width: 300px;
	background-color: #d6d6b1;
	border-top-width: thin;
	border-bottom-width: thin;
	margin: auto;
}

.editing {
	border-style: solid;
	width: 300px;
	background-color: #d6d6b1;
	border-top-width: thin;
	margin: auto;
}

.leftpic {
	margin: 10px auto 0;
}

.loginform {
	border: solid;
	background-color: #d6d6b1;
	width: 275px;
	margin: 10px auto 0;
	height: 470px;
}

.rightpic {
	margin: 10px auto 0;
}

.signupform {
	text-align: center;
}

.signupdetails {
	border-style: solid;
	border-bottom-width: thin;
	background-color: #d6d6b1;
	margin: auto;
	width: 300px;
	padding-bottom: 20px;
}

.signupaddress {
	border-style: solid;
	border-top-width: thin;
	background-color: #d6d6b1;
	width: 300px;
	margin: auto;
}

.orderdetails {
	border-style: solid;
	border-bottom-width: thin;
	background-color: #d6d6b1;
	margin: auto;
	width: 300px;
	padding-bottom: 20px;
}

.orderproducts {
	border-style: solid;
	border-bottom-width: thin;
	border-top-width: thin;
	background-color: #d6d6b1;
	margin: auto;
	width: 300px;
	padding-bottom: 20px;
}

.orderaddress {
	border-style: solid;
	border-top-width: thin;
	background-color: #d6d6b1;
	width: 300px;
	margin: auto;
}

.billingaddress {
	border-style: solid;
	border-width: thin;
	width: 300px;
	background-color: #d6d6b1;
	margin: auto;
}

.address {
	border-style: solid;
	width: 300px;
	background-color: #d6d6b1;
	margin: auto;
	border-width: thin;
}

.changedetails {
	border-style: solid;
	background-color: #d6d6b1;
	margin: auto;
	width: 400px;
	padding-bottom: 20px;
}

.newaddress {
	border-style: solid;
	background-color: #d6d6b1;
	margin: auto;
	width: 300px;
	padding-bottom: 20px;
}

.passwordform {
	border-style: solid;
	background-color: #d6d6b1;
	margin: auto;
	width: 300px;
	padding-bottom: 20px;
}

.resizingbill {
	padding-bottom: 20px;
}

.resizingaddress {
	padding-bottom: 20px;
}

.pageContent::after {
	content: "";
	clear: both;
	display: block;
}

body {
	background-color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
}

.extras h1, h2, h3 {
	color: #143516;
}

.pageText {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.title {
	text-align: center;
	color: #143516;
}

.contact {
	text-align: center;
}

.navigation {
	text-align: center;
	background-color: #bcf9a6;
}

.rightBox {
	text-align: center;
	background-color: #bcf9a6;
}

.faq {
	text-align: center;
	background-color: #bcf9a6;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
}

html {
	background-color: #ffffff;
}

.pageContent::after {
	content: "";
	clear: both;
	display: block;
}

body {
	background-color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
}

.extras h1, h2, h3 {
	color: #143516;
}

.pageText {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.title {
	text-align: center;
	color: #143516;
}

.contact {
	text-align: center;
}

.navigation {
	text-align: center;
	background-color: #bcf9a6;
}

.rightBox {
	text-align: center;
	background-color: #bcf9a6;
}

.faq {
	text-align: center;
	background-color: #bcf9a6;
}

.porous {
	text-align: center;
}

/*------------------------------------------------------------ GLOBAL CSS	-----------------------------*/
body {
	/*background-color:#bcf9a6;*/
	
}

.index_content_boxes_overlay {	
	top: 0;
	left: 0;	
	height: 100%;
	margin:0 auto;
	opacity: 0.5;	
}

.index_sections_bottom_banner {
	width: 100%;
	height: auto;
	background-color:#143516;
	position: absolute;
	bottom: 0;
	margin-right:0;
}

.index_sections_bottom_banner>p {
	color: white;
	font-size: 30px;
	text-align: center;
	/*margin-top:-0.5px;							*/
}

#index_content_wrapper {
	background-color:#EDEDED;
	margin-top:-20px;
}
/*------------------------------------------------------------ FOR THE PROMO SECTION 	-----------------------------*/
#index_top_promo_section {
	width:1330px;
	height: 390px;
	/*background-image: url('../../../nbgardens/img/IndexImages/fence02.jpg');*/
	background-size: 100% 100%;
	/*background-repeat: no-repeat;*/
	position: relative;
	margin: 0 auto;
	margin-top:-18px;
}

	#index_top_promo_section_inner{
		width:70%;
		height:100%;
		margin:0 auto;
		background-color:red;
		background-image:url('../../../nbgardens/img/IndexImages/promotionalimage_index.jpg');
		position:relative;
	}
		#index_top_promo_section_inner > h2{
			color:#3C3C3C;
		}
		#index_carousel_bottom_bar{
			
			bottom:0;
			background-color:#143516;
			position:absolute;			
			width:100%;
			text-align:center;
		}	
			#index_carousel_bottom_bar>p{				
				color:white;	
				font-size:24px;
				right:0;
				bottom:0;
				
			}


/*------------------------------------------------------------ FOR THE CONTENT BOXES IN CENTER OF HOME PAGE	-----------------------------*/
#index_center_content_wrapper {
	margin: 0 auto;	
}

.index_center_content_boxes {
	height: 500px;
	position: relative;
	display: inline-block;
	margin: 0 auto;
	min-width: 300px;
	background-size: 100% 100%;
}

#index_content_boxes_new {	
	background-image:url('../../../nbgardens/img/IndexImages/gnome_new_01.jpg');
}

#index_center_content_boxes_popular {
	background-image:url('../../../nbgardens/img/IndexImages/popular.jpg');
}

#index_center_content_boxes_sales {
	background-image:url('../../../nbgardens/img/IndexImages/popular.jpg');
}

@media only screen and (max-width: 768px){
	
	.index_center_content_boxes{
		width:100%;
	}
	
	#index_top_promo_section{
		width:100%;
	}
	
	#index_top_promo_section{
		width:100%;
	}
	#index_top_promo_section_inner{
		width:100%;	
	}
}



/*------------------------------------------------------------ FOR THE POROUS BANNER ON HOME PAGE	-----------------------------*/
#index_bottom_porous_section {
	width: 800px;	
	height: 374px;
	background-color: red;
	position: relative;
	margin: 0 auto;
	background-image:
		url('../../../nbgardens/img/IndexImages/rain.jpg');
}

/*------------------------------------------------------------ FOR THE FEATURED PRODUCTS IN THE HOME PAGE	-----------------------------*/
#index_lower_content_master_wrapper {
	
}

#index_featured_products_section_header {
	font-size: 24px;
	text-align: center;
}

#index_featured_products_wrapper_outer {
	overflow-y: hidden;
	height: auto;
	/*width:  60%;*/
	width: 100%;
}

#index_featured_products_wrapper_inner {
	width: 1050px;
	overflow-y: hidden;
	margin: 0 auto;
}

#index_featured_products_wrapper_inner>a {
	color: black;
	text-decoration: none;
}

#index_featured_products_wrapper_inner>a:hover {
	color: blue;
}

.index_featured_products_product {
	width: 161px;
	height: 241px;
	/*background-color:blue;*/
	display: inline-block;
	padding-left: 10px;
}

.index_featured_products_product_image {
	width: 100%;
	height: 150px;
	top: 0;
}

.index_featured_products_product_title {
	text-decoration: underline;
	font-size: 16px;
	text-align: center;
}

.index_featured_products_product_price {
	font-size: 24px;
	bottom: 0;
	text-align: center;
}

#featured_products_list {
	list-style: none;
	margin: 0;
	padding: 0;
}

.index_featured_products_product_container {
	background-color: yellow;
	height: 374px;
	width: 20%;
	display: inline-block;
	float: left;
	margin-left: 20px;
}

.index_featured_products_list_products_image {
	background-color: purple;
	width: 100%;
	height: 250px;
}

.index_featured_products_list_products_image_information>a {
	font-size: 20px;
}

.index_featured_products_list_products_image_information_starating_wrapper
	{
	width: 100%;
	height: 40px;
	background-color: green;
}

.index_featured_products_list_products_image_information_starating_wrapper>ul
	{
	list-style: none;
	margin: 0;
	padding: 0;
}

.index_featured_products_list_products_image_information_starating_wrapper>ul>li
	{
	background-color: purple;
	height: 100%;
	width: 32px;
	margin-left: 5px;
	display: inline-block;
	float: left;
}

.index_featured_products_list_products_image_information_product_price {
	width: 100%;
	height: auto;
}

.index_featured_products_list_products_image_information_product_price>p
	{
	font-size: 20px;
	margin: 0px;
	float: right;
}

.maincontent {
	background-color: #ffffff;
}

.maincontent::after {
	content: "";
	clear: both;
	display: block;
}

ul li {
	list-style-type: none;
}

ul {
	list-style-type: none;
}

.row::after {
	content: "";
	clear: both;
	display: block;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

ul.topnav {
	list-style-type: none;
	border-width: 1px 0;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	overflow: hidden;
	background-color: #143516;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

ul.topnav li {
	display: inline-block;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

ul.topnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
}

ul.topnav li a:hover {
	background-color: #62c945;
}

.header {
	background-color: #143516;
}

#navigation_top_row {
	width: 100%;
	height: 140px;
}

.searchandlogo {
	postion: relative;
	display: inline-block;
}

#navigation_cart_section {
	float: right;
	color: white;
}

.tfnewsearch {
	position: relative;
	float: center;
	float: right;
	padding: 20px;
}

.tftextinput {
	margin: 0;
	padding: 5px 15px;
	font-size: 14px;
	border-right: 0px;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
	text-align: left;
}

.tfbutton {
	margin: 0;
	padding: 5px 15px;
	font-size: 14px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border-right: 0px;
	background: #704e2e;
	background: -webkit-gradient(linear, left top, left bottom, from(#704e2e),
		to(#704e2e));
	background: -moz-linear-gradient(top, #704e2e, #704e2e);
	border-top-right-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
}

.tfbutton:hover {
	text-decoration: none;
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc),
		to(#00678e));
	background: -moz-linear-gradient(top, #0095cc, #00678e);
}

Fixes submit button height problem in Firefox
	.tfbutton::-moz-focus-inner {
	border: 0;
}

ul.breadcrumb {
	padding: 8px 16px;
	list-style: none;
}

ul.breadcrumb li {
	display: inline-block;
}

ul.breadcrumb li+li:before {
	padding: 8px;
	color: white;
	content: "/\00a0";
}

ul.breadcrumb li a {
	color: #62c945;
}

.logo {
	display: inline;
}

.footer {
	background-color: #143516;
}

ul.botnav {
	list-style-type: none;
	border-width: 1px 0;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: left;
	overflow: hidden;
	background-color: #143516;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	float: right;
}

ul.botnav li {
	display: inline-block;
}

ul.botnav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.subcat_images {
	width: 161px;
	height: 161px;
	/*background-color:blue;*/
	display: inline-block;
}

.paginatorbutton {
	text-align: right;
}

.tagbar {
	text-align: center;
}

.tagheader {
	text-decoration:
}

.columnFirst{
	text-align: center;
}

@media only screen and (min-width: 600px) {
	/* For tablets: */
	.col-m-1 {
		width: 8.33%;
	}
	.col-m-2 {
		width: 16.66%;
	}
	.col-m-3 {
		width: 25%;
	}
	.col-m-4 {
		width: 33.33%;
	}
	.col-m-5 {
		width: 41.66%;
	}
	.col-m-6 {
		width: 50%;
	}
	.col-m-7 {
		width: 58.33%;
	}
	.col-m-8 {
		width: 66.66%;
	}
	.col-m-9 {
		width: 75%;
	}
	.col-m-10 {
		width: 83.33%;
	}
	.col-m-11 {
		width: 91.66%;
	}
	.col-m-12 {
		width: 100%;
	}
	ul.topnav li.right, ul.topnav li {
		float: none;
	}
	.navigation {
		text-align: center;
		background-color: #bcf9a6;
		position: fixed;
	}
	.navigation {
		text-align: center;
		background-color: #bcf9a6;
		position: fixed;
	}
	
	.subcat_images {
		width: 100px;
		height: 100px;
		/*background-color:blue;*/
		display: inline-block;
		text-align: center;
	}
}

@media only screen and (min-width: 768px) {
	.wholebody {
		text-align: center;
	}
	.col-1 {
		width: 8.33%;
	}
	.col-2 {
		width: 16.66%;
	}
	.col-3 {
		width: 25%;
	}
	.col-4 {
		width: 33.33%;
	}
	.col-5 {
		width: 41.66%;
	}
	.col-6 {
		width: 50%;
	}
	.col-7 {
		width: 58.33%;
	}
	.col-8 {
		width: 66.66%;
	}
	.col-9 {
		width: 75%;
	}
	.col-10 {
		width: 83.33%;
	}
	.col-11 {
		width: 91.66%;
	}
	.col-12 {
		width: 100%;
	}
	.billingadd {
		border-style: solid;
		width: 70%;
		background-color: #d6d6b1;
		border-bottom-width: medium;
		margin: auto;
	}
	.details {
		border-style: solid;
		width: 70%;
		background-color: #d6d6b1;
		border-top-width: medium;
		border-bottom-width: medium;
		margin: auto;
	}
	.editing {
		border-style: solid;
		width: 70%;
		background-color: #d6d6b1;
		border-top-width: medium;
		margin: auto;
	}
	.signupform {
		width: auto;
		border: none;
		background-color: #ffffff;
	}
	.signupdetails {
		border: solid;
	}
	.signupaddresstext {
		margin-top: 26px;
	}
	.signupaddress {
		border: solid;
		height: 545px;
	}
	.orderdetails {
		border-style: solid;
		border-width: medium;
		margin: auto;
		margin-right: 10px;
		padding-bottom: 20px;
		height: 300px;
	}
	.orderproducts {
		margin: auto;
		width: 100%;
		padding-bottom: 20px;
		border-style: solid;
		border-width: medium;
		overflow-y: auto;
		height: 300px;
	}
	.orderaddress {
		margin-left: 10px;
		border-style: solid;
		border-width: medium;
		height: 300px;
	}
	.resizingorders {
		padding-bottom: 20px;
	}
	.address {
		width: 70%;
	}
	.billingaddress {
		width: 70%;
	}
	.resizingbill {
		padding-bottom: 15px;
	}
	.resizingaddress {
		padding-bottom: 51px;
	}
	.navigation {
		text-align: center;
		background-color: #bcf9a6;
		position: fixed;
	}
	.rightBox {
		text-align: center;
		background-color: #bcf9a6;
		position: fixed;
	}
	.navigation {
		text-align: center;
		background-color: #bcf9a6;
		position: fixed;
	}
	.rightBox {
		text-align: center;
		background-color: #bcf9a6;
		position: fixed;
	}
	#index_top_promo_section {
		width: 100%;
	}
	.index_center_content_boxes {
		width: 100%;
	}
	#index_center_content_boxes_popular {
		height: 245px;
	}
	#index_center_content_boxes_sales {
		height: 245px;
	}
	#index_center_content_left_column {
		float: left;
		width: 245px;
	}
	#index_center_content_right_column {
		float: right;
		width: 245px;
		
	}
	#index_center_content_wrapper {
		width: 600px;
		padding-bottom: 500px;
		padding-right: 50px;
	}
	.subcat_images {
		width: 161px;
		height: 161px;
		/*background-color:blue;*/
		display: inline-block;
	}
	
}

.loginheaders{
	float: right;
}
.loginheaders a{
	color: white;
	padding-right: 5px;
	padding-left: 10px;
}

/*------------------------------------------------------------ FOR THE BASKET PAGE	-----------------------------*/
#basket_contents_container {
	width: 700px;
	margin: 0 auto;
	padding-bottom: 50px;
}

#basket_contents_container_right_column {
	float: right;
}

#basket_header_title {
	margin: 0;
	padding: 0;
	display: inline-block;
}

#index_featured_products_product_image_basket_page {
	width: 100px;
	height: 150px;
}

#basket_items_container {
	width: auto;
}
/*#basket_items_container_left_column{		
		width:100px;
		display:inline-block;
	}
	#basket_items_container_right_column{		
		float:right;
		display:inline-block;
		right:0;
	}*/
#basket_item_container {
	
}

#basket_items_container_left_column {
	display: inline-block;
	width: 100px;
	vertical-align: top;
}

#basket_items_container_middle_column {
	display: inline-block;
	width: 300px;
	vertical-align: top;
	height: 154px;
	padding: 0;
	margin: 0
}

#basket_items_container_middle_column_item_title {
	padding: 0;
	margin: 0;
}

#basket_items_container_middle_column_item_description {
	height: 154px;
}

#basket_items_container_right_column {
	display: inline-block;
	width: auto;
	width: 140px;
	float: right;
	vertical-align: top;
	height: 154px;
	position: relative;
}

#basket_header_right_column {
	display: inline-block;
	float: right;
	margin-top: 25px;
	font-weight: bold;
}

#basket_header_right_column>p {
	display: inline-block;
}

.basket_page_price {
	padding-right: 32px;
}

.basket_page_price_priceInfo {
	font-weight: bold;
	left: 0;
	float: left;
	position: absolute;
}

#basket_page_totals_container {
	float: right;
	padding-bottom: 50px;
}

#basket_page_remove_item_button {
	bottom: 0;
	margin-top: 120px;
	position: absolute;
	margin-left: 80px;
	float: right;
	right: 0;
}

#basket_page_totals_container>img {
	float: right;
}

#basket_items_prodInfo {
	margin-right: 300px;
}

#basket_item_removed_popup_container {
	width: 200px;
	height: 100px;
}

#basket_item_removed_popup {
	width: 100%;
	height: 60px;
	background-color: #41A042;
	position: fixed;
	right: 0;
	bottom: 0px;
	right: 0;
	text-align: center;
	color: white;
	display: none;
}

#basket_item_removed_popup>p {
	font-size: 20px;
	padding: 0;
}

#item_popup_close_button {
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	float: right;
}

#item_popup_close_button:hover {
	cursor: pointer;
}

/*------------------------------------------------------------ FOR THE ABOUT PAGE	-----------------------------*/

#about_master_content_container {
	width: 80%;	
	margin: 0 auto;
	height: auto;
}

	#about_master_content_container_header {
		width: 100%;
		height: 60px;
	}

	#about_master_content_container_left_col {
		float: left;
		width: 25%;
		height: 90%;
		background-color: #bcf9a6;
	}
	
	#about_master_content_container_right_col {
		float: right;
		width: 75%;
		height: 90%;
	}
	
		#about_master_content_container_right_col_inner {
		width: 100%;
		padding-left: 30px;
		}
		
/*------------------------------------------------------------ FOR THE CONTACT PAGE	-----------------------------*/

#contact_master_content_container {
	width: 80%;	
	margin: 0 auto;
	height: auto;
}

	#contact_master_content_container_header {
		width: 100%;
		height: 60px;
	}

	#contact_master_content_container_left_col {
		float: left;
		width: 25%;
		height: 90%;
		background-color: #bcf9a6;
	}
	
	#contact_master_content_container_right_col {
		float: right;
		width: 75%;
		height: 90%;
	}
	
		#contact_master_content_container_right_col_inner {
		width: 100%;
		padding-left: 30px;
		}
		
/*------------------------------------------------------------ FOR THE HELP PAGE	-----------------------------*/

#help_master_content_container {
	width: 80%;	
	margin: 0 auto;
	height: auto;
}

	#help_master_content_container_header {
		width: 100%;
		height: 60px;
	}

	#help_master_content_container_left_col {
		float: left;
		width: 25%;
		height: 90%;
		background-color: #bcf9a6;
	}
	
	#help_master_content_container_right_col {
		float: right;
		width: 75%;
		height: 90%;
	}
	
		#help_master_content_container_right_col_inner {
		width: 100%;
		padding-left: 30px;
		}
		
		
