/*------------------------------------------------------------ GLOBAL CSS	-----------------------------*/
body{
	/*background-color:#bcf9a6;*/	
}

.index_content_boxes_overlay{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color:black;
	opacity:0.5;
}

.index_sections_bottom_banner{
						
						width:100%;
						height:auto;
							/*background-color:black;*/
						position:absolute;
						bottom:0;
						
					}
						.index_sections_bottom_banner > p{

							color:white;
							font-size:30px;
							text-align:center;
							/*margin-top:-0.5px;							*/
							
						}
#index_content_wrapper{
	/*background-color:#FFF5EE;
	width:900px;
	margin:0 auto;*/
}


						
						
						
/*------------------------------------------------------------ FOR THE PROMO SECTION 	-----------------------------*/						
#index_top_promo_section{
	
	max-width:850px;	
	height:374px;
	
	background-image:url('../../../../../../../../images/IndexImages/gardenBanner.jpg');	
	background-size: 100% 100%;
	 /*background-repeat: no-repeat;*/
	position:relative;
	margin:0 auto;	
	
}
	@media only screen and (max-width: 750px) {
		#index_top_promo_section {
			width:100%;
			
		}
	}
			
/*------------------------------------------------------------ FOR THE CONTENT BOXES IN CENTER OF HOME PAGE	-----------------------------*/
				#index_center_content_wrapper{
					margin:0 auto;
					
				}
				.index_center_content_boxes{
					
					height: 500px;
					
					position:relative;
					display:inline-block;
					margin:0 auto;
					min-width:300px;
					background-size: 100% 100%;
				}				
					@media only screen and (max-width: 750px) {
						.index_center_content_boxes{
							width:100%;
						}
					}
					
					#index_content_boxes_new{
						background-image:url('../../../../../../../../images/IndexImages/gnome_new_01.jpg');
					}
					
					#index_center_content_boxes_popular{
							background-image:url('../../../../../../../../images/IndexImages/popular.jpg');
							
						}
						#index_center_content_boxes_sales{
							background-image:url('../../../../../../../../images/IndexImages/popular.jpg');
							
						}
					
					@media only screen and (min-width: 751px) {
						#index_center_content_boxes_popular{
							height:245px;
							
						}
						#index_center_content_boxes_sales{
							height:245px;
							
						}
						
						#index_center_content_left_column{
							float:left;
							width:245px;
							
						}
						
						#index_center_content_right_column{
							float:right;
							width:245px;
							
						}
						#index_center_content_wrapper{
							width:560px;
							padding-bottom:500px;
							padding-right:50px;
						}
						
					}
				
				

				
/*------------------------------------------------------------ FOR THE POROUS BANNER ON HOME PAGE	-----------------------------*/
					#index_bottom_porous_section{
						
						width:610px;
						height:374px;						
						background-color:red;
						position:relative;
						margin:0 auto;
						background-image:url('../../../../../../../../images/IndexImages/rain.jpg');
						
					}
						
						@media only screen and (max-width: 750px) {/* Make the porous banner 100% of the screen for respeonsive */
							#index_bottom_porous_section{
								width:100%;
								
							}
						}
		

/*------------------------------------------------------------ FOR THE FEATURED PRODUCTS IN THE HOME PAGE	-----------------------------*/
				#index_lower_content_master_wrapper{
					
				}
					
						#index_featured_products_section_header{
							font-size:24px;
							
							text-align:center;
						}
					#index_featured_products_wrapper_outer {				
						overflow-y:hidden;
						height: auto;
						/*width:  60%;*/
						width:100%;
					}					
					#index_featured_products_wrapper_inner{
								width:1050px;
								overflow-y:hidden;
								margin:0 auto;
							}
						#index_featured_products_wrapper_inner > a{
							color:black;
							text-decoration:none;
						}
						#index_featured_products_wrapper_inner > a:hover{
							color:blue;
						}
					.index_featured_products_product{
						width:161px;
						height:241px;
						/*background-color:blue;*/
						display:inline-block;
						padding-left:10px;
					}
						.index_featured_products_product_image{
							width:100%;
							height:150px;
							top:0;
						}
						.index_featured_products_product_title{
							text-decoration:underline;
							font-size:16px;
							text-align:center;
						}
						.index_featured_products_product_price{
							
							font-size:24px;
							bottom:0;
							text-align:center;
						}
				
				
				
				
				
				
				
				
				#featured_products_list{
					list-style:none;
					margin:0;
					padding:0;
					
				}
					.index_featured_products_product_container{

						background-color: yellow;
						height: 374px;
						width:20%;
						display:inline-block;
						float:left;
						margin-left:20px;
					}
					
					.index_featured_products_list_products_image{
						
						background-color: purple;
						width: 100%; 
						height: 250px; 
						
						
					}
					
					.index_featured_products_list_products_image_information>a{
						
						font-size: 20px;
						
						
					}
						.index_featured_products_list_products_image_information_starating_wrapper{
							width: 100%;
							height:40px;
							background-color: green;
						
						}
						
						.index_featured_products_list_products_image_information_starating_wrapper >ul{
							list-style: none;
							margin: 0; 
							padding: 0; 
							
						}
					
					
						.index_featured_products_list_products_image_information_starating_wrapper >ul > li{
							background-color: purple;
							height:100%;
							width:32px;
							margin-left: 5px; 
							display:inline-block;
							float:left;			
						}
						
						.index_featured_products_list_products_image_information_product_price{			
							width:100%;
							height:auto;			
						}
							.index_featured_products_list_products_image_information_product_price>p{			
								font-size:20px;				
								margin:0px;
								float:right;
							}
	
	
	
	
	
	