@CHARSET "ISO-8859-1";

* {
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}

#pageTitle {
	text-align: center;
	color: #143516;
}

.contentBoxes {
	margin: 0 auto;
	height: auto;
}

.alertBox {
	height: 300px;
	overflow: scroll;
	background-color: white;
	border-style: solid;
	border-width: medium;
	border-color: #143516;
}

#alertHeader {
	background-color: black;
	color: white;
	text-align: center;
	margin: 0 auto;
	margin-top: -20px;
}

#alertText {
	text-align: left;
	background-color: white;
	color: black;
}

.notificationBox {
	height: 300px;
	overflow: scroll;
	background-color: white;
	border-style: solid;
	border-width: medium;
	border-color: #143516;
}

#notificationHeader {
	background-color: black;
	color: white;
	text-align: center;
	margin-top: -20px;
}

#notificationText {
	text-align: left;
	background-color: white;
	color: black;
}

.empty {
	border: solid white;
}
