@CHARSET "ISO-8859-1"

*{
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.empty {
	border-style: solid;
	border-color: #FFFFFF;
}

.editBtn {
	color: white;
	background-color: #143516;
}

.editBtn:hover {
	background-color: #62c945;
}

#pageContent {
	text-align: center;
}

.poAddMenu {
	text-align: center;
}

#poMenuHeader {
	background-color: black;
	color: white;
}